.checkout_details_area .wrapper .form-control {
    height: 60px;
    border: none;
    border-radius: 0;
    background-color: #f5f7fa;
    padding: 30px;
    color: #6b6b6b;
    font-size: 14px;
}

.checkout_details_area .wrapper textarea.form-control {
    height: 210px;
}

.checkout_details_area .wrapper .custom-control label {
    font-size: 14px;
    color: #6b6b6b;
}

.custom-control .nice-select {
    border-radius: 0;
    height: 60px;
    line-height: 60px;
    background-color: #f5f7fa;
    border: none;
    color: #6b6b6b;
    font-size: 14px;
}

.custom-control .list {
    width: 100%;
    border-radius: 0;
    background-color: #f5f7fa;
}

.amado-btn a {
    display: inline-block;
    min-width: 160px;
    height: 55px;
    color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0 7px;
    font-size: 18px;
    line-height: 56px;
}

.cart_empty {
    text-align: center;
    text-align: center;
    font-size: 24px;
    padding: 5px 10px;
    background: #fbb710;
    color: white;
}

.cart_order {
    background: #fbfbfb;
    padding: 10px 20px;
    margin-bottom: 25px;
}

.cart_order span {
    text-align: right;
}

.border_order {
    display: block;
    border: 0.5px solid #fbb710;
    margin: 15px 0px;
}

.cart_order p {
    text-align: right;
}

.order_content img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.order_content {
    padding: 0px 30px;
}

.price {
    text-align: right;
    font-weight: bold;
    color: #fbb710;
}

.total p {
    font-weight: bold;
    font-size: 20px;
}

.justify-content-end {
    color: #6d6d6d;
}

.justify-content-end div {
    margin-right: 5px;
}

.cart-table-area {
    position: relative;
}

.notify {
    width: 300px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: 1;
    position: absolute;
    padding: 25px 10px;
    background: #00d400;
    color: white;
    text-align: center;
    top: -200px;
    right: 0;
}

.notify p {
    color: white;
    font-size: 18px;
    margin: 0px;
}

.notify img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

@keyframes example {
    0% {
        top: -200px;
        right: 0;
    }
    50% {
        right: 0px;
        top: 0px;
    }
    100% {
        top: -200px;
        right: 0;
    }
}